.cart-drop-wrapper.open{
    display: block;
}
.cart-drop-wrapper.close{
    display: none;
} 
.cart-drop-wrapper .card{
    margin-top: 10px;  
    position: absolute;
    transform: translateX(-88%); 
    z-index: 2;
    height: auto;
    max-height: 400px;
    overflow-y: auto;
}
.cart-menu-item-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-around;
    min-width: 230px;
}
.cart-menu-item-wrapper img{
    width: 15vh;
    height: 15vh;
}
.cart-drop-wrapper h6{
    font-size: 12px;
}
.cart-drop-wrapper p{
    font-size: 12px;
}