.footer-credit-img-wrapper img{
    height: 3rem;
}
@media screen and (max-width:600px){
    .footer-bottom{
        flex-direction: column !important;
    }
}
.about-footer p{
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5em;
    width: max-content;
    font-size: 15px;
}
.about-footer p:hover{
    cursor: pointer;
    color: var(--yellow); 
}
.footer-icon-btn {
    width: 35px;
    height: 35px; 
    border-radius: 50%;
    border: none;
    background-color: var(--white);
    color: var(--yellow); 
    transition: all 0.1s ease-in-out;
} 
.footer-icon-btn i{
    font-size: 18px;
}
.footer-icon-btn:hover{
    background-color: var(--yellow);
    color: var(--white); 
    transform: scale(1.05);
}