.card-cart {
    margin: auto;  
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    border: transparent
}

@media(max-width:767px) {
    .card-cart {
        margin: 3vh auto
    }
}
.cart-title {
    margin-bottom: 4vh
}
.cart-area {
    background-color: #fff;  
}

@media(max-width:767px) {
    .cart-area {
        padding: 4vh; 
    }
}
.summary-area {
    background-color: var(--black); 
    color: rgb(65, 65, 65)
}


.main-area {
    margin: 0;
    padding: 2vh 0;
    width: 100%
}
.back-to-shop {
    margin-top: 4.5rem
}
.main-area img {
    width: 5rem
}  