.product-detail-wrapper h3{
    font-weight: 500;
    color: var(--yellow);
}
.product-detail-wrapper .add-card-btn{
    height: 45px;
    padding: 5px 20px; 
    border-radius: 0;
    color: var(--yellow);
    background-color: var(--black);
}
.product-detail-wrapper .add-card-btn:hover{
    color: var(--white);
    background-color: var(--yellow); 
    /* opacity: 0.8; */
}
.image-gallery-slide .image-gallery-image {
    border-radius: 15px;
    width: 100%;
    height: auto;
    object-fit: cover !important;
} 