.category-wrapper h2{
    font-size: 38px;
}
.category-wrapper p{
    font-size: 16px;
}
.category-card { 
    width: 100%;
}
.category-card img { 
    object-fit: cover; 
    height: 16rem;
} 
.category-card .btn{
    font-size: 16px;
}
.category-card .btn:hover{
    opacity: 0.8;
} 