.contact-bar{
    border-bottom: 1px solid var(--white);
    min-height: 53.5px;
} 
.nav-contact-span{
    margin-right: 15px;
}
.nav-contact-span .icon-span{ 
    background-color: rgb(50, 53, 16); 
    width: 32px;
    height: 32px;
    border-radius: 50%; 
    text-align: center; 
    padding: 4px;
    color: var(--yellow); 
    font-size: 15px;
    margin-right: 5px;
} 
.nav-contact-span p{
    color: var(--yellow);
    font-size: 14px;  
}
.toolbar{ 
    width: 100%;  
    background-color: var(--black); 
}
.toolbar_nav{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around; 
    min-height: 80px;
}
.toolbar_logo img{
    width: 176px;
    height: 60px;
    object-fit: contain;
}
.toolbar_search_wrapper input{
    padding-left: 25px !important;
    width: 570px;
    height: 47px;
}  
.toolbar_yellow_btn .btn{
    width: 205px;
    height: 47px;
    border-radius: 0;
    font-size: 16px; 
}
.toolbar_yellow_btn .btn:hover{
    opacity: 0.8;
}
.toolbar_nav_icon_span i{  
    color: var(--yellow);  
    font-size: 32px;
}
.toolbar_nav_icon_group{
    display: inline-flex;
    align-items: center;
}
.toolbar_nav_icon_group i{  
    color: var(--yellow);  
    font-size: 25px;
}
.toolbar_nav_icon_group p{
    color: var(--white);
    margin: 0; 
    font-size: 16px; 
}

@media screen and (max-width:910px){
    .toolbar_nav{
        justify-content: space-between;
        padding: 0 1rem;
    }
    .toolbar_nav .toolbar_logo{
        display: none;
    }
    .toolbar_nav .toolbar_search_wrapper{
        display: none;
    }
    /* .toolbar_nav .toolbar_nav_icon_span{
        display: none;
    }  */
    .toolbar_nav .toolbar_yellow_btn{
        display: none;
    }
    .contact-bar{
        display:none;
    }   
}
@media screen and (min-width:911px){
    .toolbar_toggler{
        display: none;
    }
} 
/* .searchBar {
    min-height: 50px;
} */
@media screen and (max-width:500px){
    .searchBar .searchBar_btn_wrapper{
        text-align: center;
    }
} 
.searchBar .searchBar_btn_wrapper .btn{
    background-color: var(--black);
    border-radius: 0;
    color: var(--white);
    height: 30px;
    padding: 0 2rem; 
    font-size: 14px;
}
.searchBar .searchBar_btn_wrapper .btn:hover{
    opacity: 0.8;
}
.menu-item-wrapper .btn{
    font-size: 16px;
}
.search-btn-toggler-menubar .search-icon-btn{
    background-color: var(--black);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    border: 0;
    color: var(--yellow);  
} 
.menubar-wrapper-row{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.menubar-wrapper-row .search-item{
    margin: 3px 5px;
}