.faqdiv{
      border-right:2px solid  #333;
}


@media screen and (max-width:500px)
{
      .faqdiv{
            border-right: 0px;
      }
}

@media screen and (max-width:770px) {
      .faqdiv {
            border-right: 0px;
      }
}