.social-link {
      width: 30px;
      height: 30px;
      border: 1px solid #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--yellow);
      border-radius: 50%;
      transition: all 0.3s;
      font-size: 0.9rem;
      padding: 6px;
      margin: 5px;

}

.social-link:hover,
.social-link:focus {
      background: var(--yellow);
      text-decoration: none;
      color: #fff;
      cursor: pointer;
}