.popular-product-wrapper h2{
    font-size: 38px; 
}
.popular-product-wrapper p{
    font-size: 16px;
}
.product-card {
    width: 16rem;  
    outline:none;
    box-shadow: none;
} 
.product-card p{
    font-size: 16px;
}
.product-card img{ 
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover; 
    height: 336px; 
} 
.product-card:focus{
    outline:none;
    box-shadow: none;
}
.product-card .card-body .btn:focus{
    outline:none;
    box-shadow: none;
}
.rounded-15 {
    border-radius: 15px;
    overflow: hidden;
}
.bg-yellow {
    background-color: var(--yellow);
}  
.color-yellow {
    color: var(--yellow);
}
.icon-btn {
    width: 35px;
    height: 35px; 
    border-radius: 50%;
    border: 2px solid var(--yellow);
    background-color: var(--white);
    color: var(--yellow); 
    transition: all 0.1s ease-in-out;
    padding: 0;
    /* z-index: 1; */
}  
.icon-btn:hover{  
    background-color: var(--yellow);
    transform: scale(1.05);
}
.icon-btn:hover i{
    -webkit-text-stroke: 1px var(--white);
}
.icon-btn i{
    height: 100%;
    font-size: 16px;
    -webkit-text-stroke: 1px var(--yellow);
} 
.icon-btn:focus{
    outline:none;
    box-shadow: none;
}
.dnmd-dbm{
    display: none;
}  
@media screen and (max-width: 500px){
    .dnmd-dbm{
        display: block;
    }    
    .dnsm-dbmd{
        display: none;
    }
} 
.overlay { 
    position: absolute;
    top: 0;
    left: 100%;
    right: 0;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 0; 
    height: 336px;
    transition: .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img-div:hover .overlay { 
    width: 100%;
    left: 0;
  }