.filter-menu-wrapper {
    position: relative;
    display: inline-block; 
    width: 100%;
    display: flex; 
    flex-wrap: wrap; 
    border-bottom: 1px solid #ccc;
    padding: 8px 0px;
}
.filter-menu-header{ 
    display: flex;   
    display: flex; 
    justify-content: space-between;
    align-items: center;
    cursor: pointer;  
    width: 100%;
    color: var(--black);
    margin: 8px 0px;
} 
.filter-menu-title p{ 
    margin: 0; 
    font-size: 16px;
    font-weight: 600; 

} 
.filter-menu-list {
    padding-left: 0px;
    padding-bottom: 8px;
    /* border-bottom: 1px solid grey;  */
    width: 100%;
}
.filter-menu-list li{ 
    list-style-type: none;
    text-overflow: ellipsis !important;
    width: 100%;
}
.filter-menu-list .filter-menu-list-item .filter-menu-item-span{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    color: rgb(100, 99, 99);
    font-weight: 600;
    font-size: 16px;
    padding: 4px 0px; 
    width:max-content;
    text-align: left; 
    text-overflow: ellipsis;
}
.filter-menu-list .filter-menu-list-item .filter-menu-item-span:hover{
    cursor: pointer; 
    color: var(--yellow);
}  
.filter-menu-list .filter-menu-list-item .filter-menu-item-span.active{  
    color: var(--yellow); 
}
