.top-head-right{  
    background-image: url("http://localhost:3000/images/web-image.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    height: 40vw;  
    overflow: hidden;
}
/* .top-head-right svg{
    width: inherit;
    height: inherit;
} */
.bg-black {
    background-color: #000000;
}
.header-content-wrapper{   
    height: 100%;
    display: flex;
    flex-direction: column;  ;
    justify-content: center;
}
.header-content-wrapper button{
    border: none;
    height: 2rem;
    width: 10rem;
    font-size: 15px;
}
.header-content-wrapper button:hover{
    opacity: 0.8; 
}
@media screen and (max-width:800px){
    .header-content-wrapper,.top-head-right{
        height: 20rem;
    }  
    /* .top-head-right svg{
        display: none;
    } */
}
.upto-off {
    position: absolute;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: rgb(207, 7, 72);
    color: #FFFFFF;
    right: 1.6rem; 
    margin-top: 1.6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}  