.h80vh {
    height: 80vh;
}
.top-head-right{  
    background-image: url("http://localhost:3000/images/web-image.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.bg-black {
    background-color: #000000;
}