:root {
    --yellow: #E8C21E;
    --black: #000000;
    --white: #FFFFFF;
}
html{
    overflow-x: hidden;
}
body{overflow-x: hidden;}
.fab {
    width: 45px;
    height: 45px;
    background-color: var(--yellow);
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    transition: all 0.1s ease-in-out;
    font-size: 22px;
    color: var(--white);
    text-align: center;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 1;
    padding: 5px;
}

.fab:hover {
    cursor: pointer;
    box-shadow: 0 6px 14px 0 #666;
    transform: scale(1.05); 
} 